@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.curs{
    position: absolute;
    top:90px;
    right:30px;
    padding-top: 160px;
    padding-left: 40px;
    background: url('doska.jpeg');
    background-size: cover;
    width: 490px;
    height:430px;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Pacifico';
    color:rgb(48, 46, 46);
    font-weight:bolder;
}