



.cell{
    position: relative;
}

.empty{
    background: url('pustpole.jpg');
    background-size:cover;
}

.chicken_inside{
    background: url('kur.jpg');
    background-size:cover;
}

.rye_inside{
    background: url('pshenichnoepole.jpg');
    background-size:cover;
}

.cow_inside{
    background: url('cow.jpg');
    background-size:cover;
}


.btn{
    position: absolute;
    bottom: 0;
}

.hidden{
    opacity: 0;
}

.shown{
    transition: all 0.5s;
    opacity: 1;
}