

.cell{
    width: 50px;
    height:50px;
}

.red{
    background: crimson;
    position: relative;
}

.chicken_inside{
    background: darkolivegreen;
}

.rye{
    background: lightsalmon;
}

.btn{
    position: absolute;
    bottom: 0;
}

.hidden{
    opacity: 0;
}

.shown{
    transition: all 0.5s;
    opacity: 1;
}