



.cell{
    position: relative;
}

.empty{
    background: url('pustpole.jpg');
    background-size:cover;
}

.chicken_inside{
    background: url('kur.jpg');
    background-size:cover;
    & .shown{
        transform: translateX(calc(50% - 14px));
    }
   
}

.rye_inside{
    background: url('pshenichnoepole.jpg');
    background-size:cover;
    & .shown{
        transform: translateX(calc(50% - 45px));
    }
}

.cow_inside{
    background: url('cow.jpg');
    background-size:cover;
    & .shown{
        transform: translateX(calc(50% - 21px));
    }
}


.btn{
    position: absolute;
    bottom: 0;
}

.hidden{
    opacity: 0;
}

.sell__cell{
    transform: translateX(calc(50% - 25px));
}

.shown{
    transition: all 0.5s;
    opacity: 1;
}