.wait_for_drag-cow{
    background: rgb(16, 202, 187);
    background-image: url('cow.png');
    background-size: cover;
    top:330px;
    left:32px;
}



.dragged_cow{
    color:rgb(109, 105, 226);   
    font-size: 22px;
    text-align: center;
    font-weight: 900;
 
}