.infolist{
    position: absolute;
    display: flex;
    top:20px;
    left:200px;
}

.value{
    padding-left: 30px;
    font-style: italic;
    font-size: 24px;
}

.val{
    font-family: 'Fredoka One', cursive;
}

.red{
color:rgb(155, 27, 27)
}

.green{
color:rgb(48, 172, 48);
}