.field
    {
        max-width: 710px;
        margin: 10px auto;
        margin-top: 250px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
      }
