.chicken{
    width:100px;
    height: 100px;
    background: blueviolet;
    position: absolute;

    & .btn{
        position: absolute;
        bottom: 55px;
        left:0
    }
}

.dragged_chicken{
    position: static;
    background: saddlebrown;
    color:rgb(243, 234, 236);
}

.wait_for_drag-chicken{
    top:30px;
}