

.dragged_chicken{
    color:rgb(11, 9, 109);
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}

.wait_for_drag-chicken{
    top:230px;
    left:32px;
    background-image: url('chicken.jpg');
    background-size: cover;
}