.rye{
    width:100px;
    height: 100px;
    background:hotpink;
    position: absolute;
    & .btn{
        position: absolute;
        bottom: 55px;
        left:0;
    }
}

.dragged_rye{
    position: static;
    background:rgb(25, 28, 78);
    color:rgb(241, 241, 40);
    
}

.wait_for_drag-rye{
    top:140px
}