.wait_for_drag-rye{
    top:40px;
    left:32px;
    background:hotpink;
    background-image: url('colos.jpg');
    background-size: cover;
    & .btn{
        position: absolute;
        bottom: 55px;
        left:0;
    }
}

.dragged_rye{
    color:rgb(109, 105, 226);   
    font-size: 22px;
    text-align: center;
    font-weight: 900;
 
}

