@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme|Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme|Forum|Fredoka+One&display=swap');

*{
    font-family: 'Forum', cursive;
}